.list {
  margin: 2rem 0;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style: none;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(128, 255, 128, 0.8);
  border-radius: 16%;
  background-color: rgba(0, 0, 0, 0.4);
}

.sorting {
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: rgba(128, 255, 128, 0.8);
  border: 1px solid rgba(128, 255, 128, 0.8);
  background-color: transparent;
  border-radius: 4px;
  padding: 0.4rem 1.6rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}